$primary:red;
$secondary: darkblue;
$background: #ffedd8;

.nav.navbar-nav.navbar-nav li a {
  color: $primary;
}

#secondnav {
	background-color: green;
   
}
#map {
	display:table-cell; 
	vertical-align:middle; 
	text-align:center
}
#secondnavbarbrand {
	font-family: "Noto Sans Kannada", sans-serif;
	font-size: 20px; 
	line-height: 1.11em;
	src:url("NotoSansKannadaUI-Bold.ttf") format('truetype');	
	color: white;
}
#secondnavlink {
	font-family: "Noto Sans Kannada", sans-serif;
	font-size: 16px; 
	line-height: 1.11em;
	src:url("NotoSansKannadaUI-Bold.ttf") format('truetype');	
	color: white;
	display: inline-block;
}			
.mynav {
  padding-top: 10px;

}
.error{
  margin-left: 5px;
  font-size: 13px;
  color: red;
}

#legend {
	font-family: "Noto Sans Kannada", sans-serif;
	font-size: 30px; 
	line-height: 1.11em;
	src:url("NotoSansKannadaUI-Bold.ttf") format('truetype');	
	color: green;
	text-align:center;
}

.container
  {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
    }
    
.simple-banner-component {
    margin-bottom: 20px;
    margin-top: 20px;
}

.main-header .site-logo {
    margin-top: 42px;
    margin-bottom: 30px;
    margin-left: 0;
    }
    .main-header .header-content {
    position: relative;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #C6E7CE !important;
    border-color: green;
    color: green;
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: green;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid green;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
body{
	font-size: 14px;
}

input[type="radio"]{
  margin: 0 12px 0 12px;
}

.btn-block {
    display: block;
    width: 100%;
    font-weight: 600;
}

.btn-block2 {
    display: block;
    width: 10%;
    font-weight: 600;
}

.box {
    padding: 5px 5px 5px 5px;
}

.form-row1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 10px;
    margin-left: 10px;
}